<section class="outline--{{ section.id }}">
  <div class="inner--{{ section.id }}">
    <h2>{{ section.settings.title | newline_to_br }}</h2>
    <div class="card--{{ section.id }}">
      <div class="card-inner--{{ section.id }}">
        <div class="image--{{ section.id }}">
          <img src="{{ section.settings.image | img_url: "large" }}" width="100%" height="100%" loading="lazy">
        </div>
        <p>{{ section.settings.text | newline_to_br }}</p>
      </div>
      <div class="card-inner--{{ section.id }}">
        <div class="image--{{ section.id }}">
          <img src="{{ section.settings.image2 | img_url: "large" }}" width="100%" height="100%" loading="lazy">
        </div>
        <p>{{ section.settings.text2 | newline_to_br }}</p>
      </div>
    </div>
  </div>
</section>

<style>
.outline--{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  padding: {{ section.settings.padding }};
  margin: {{ section.settings.margin }};
}
.outline--{{ section.id }} h2 {
  font-size: 3.4rem;
}
.inner--{{ section.id }} {
  max-width: 1100px;
  margin: 0 auto;
}
.card--{{ section.id }} {
  text-align: center;
}
.card-inner--{{ section.id }} {
  margin: 40px auto;
}
.card--{{ section.id }} .image--{{ section.id }} img {
  border-radius: 50%;
  width: 60%;
  max-width: 256px;
}
.card--{{ section.id }} p {
  margin: 0;
  line-height: 1.25;
}
@media(min-width:750px){
  .card--{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .card--{{ section.id }} .image--{{ section.id }} img {
    max-height: 256px;    
    width: auto;
  }  
}
</style>
{% schema %}
{
  "name": "TOP Profile",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "タイトル",
      "default": "Profile"
    },{
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },{
      "type": "textarea",
      "id": "text",
      "label": "テキスト"
    },{
      "type": "image_picker",
      "id": "image2",
      "label": "画像2"
    },{
      "type": "textarea",
      "id": "text2",
      "label": "テキスト2"
    },{
      "type": "header",
      "content": "全体の設定"
    },{
      "type": "text",
      "id": "padding",
      "label": "padding:"
    },{
      "type": "text",
      "id": "margin",
      "label": "margin:"
    }
  ],
  "presets": [
    {
      "name": "TOP Profile"
    }
  ]
}
{% endschema %}
