<section class="outline--{{ section.id }}">
  <div class="inner-md">
    <div>
      <h2 class="head-title">{{ section.settings.title | newline_to_br }}</h2>
    </div>
    <ul class="news-item">
      {% for article in section.settings.blog.articles limit: 8%}
        <li>
          <a href="{{ article.url }}">
            <div class="news-img">
            {% if article.image != blank %}
              <img src="{{ article.image | img_url: '300x300' }}" alt="{{ article.title }}" loading="lazy" width="100%" height="100%">
            {% else %}  
              <img src="https://cdn.shopify.com/s/files/1/0645/5151/8428/files/1.png?v=1665972393" alt="{{ article.title }}" loading="lazy" width="100%" height="100%">
            {% endif %}
            </div>
            {% if section.settings.isDate %}
            <div class="news-date">
              <p>{{ article.created_at | date: '%B %d, %Y' }}</p>
            </div>
            {% endif %}
            <h3 class="news-text">{{ article.title }}</h3>
          </a>
        </li>
      {% endfor %}
        <li>
          <a href="{{ section.settings.blog.url }}">more...</a>
        </li>
    </ul>  
  </div>
</section>

<style>
.outline--{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  padding: {{ section.settings.padding }};
  margin: {{ section.settings.margin }};
  display: none;
}

.news-item img {
  width: 100%;
  border-radius: 5px;
}

.inner-md{
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.head-title {
  font-size: 3.4rem;
}
.news-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  gap: 2%;
}
.news-item li {
  margin-bottom: 30px;
}
.news-item li a {
  text-decoration: none;
  color: rgb(var(--color-foreground))
}
.news-date {
  font-size: 1.0rem;
  margin: 0 0 5px;
  font-weight: bold;
}
  .news-date p {
    margin: 0 auto;
  }
.news-text {
  font-size: 1.5rem;
  margin: 0;
}
@media(max-width:750px){
  .news-item{
    grid-template-columns: 1fr 1fr;
  }
  .news-item li {
    margin-bottom: 15px;
  }
  .news-date p {
    margin: 0;
  }
}
</style>

{% schema %}
{
  "name": "TOP Blog",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title",
      "default": "NEWS"
    },
    {
      "type": "checkbox",
      "id": "isDate",
      "label": "投稿日を表示する",
      "default": true
    },{
      "type": "blog",
      "id": "blog",
      "label": "blog"
    },{
      "type": "header",
      "content": "全体の設定"
    },{
      "type": "color",
      "id": "bg_color",
      "label": "背景色"
    },{
      "type": "text",
      "id": "padding",
      "label": "padding:"
    },{
      "type": "text",
      "id": "margin",
      "label": "margin:"
    }
  ],
  "presets": [
    {
      "name": "TOP Blog"
    }
  ]
}
{% endschema %}

<script>
$(function(){
    $('.outline--{{ section.id }}').fadeIn(2000);
});
</script>